input#message {
    background: rgba(255, 255, 255, 0.644);
    padding: .4em .7em;
    width: 100%;
}

#chat-container p {
    text-align: left;
    width: 100%;
    color: #ffffff;
}

#chat-container {
    box-sizing: content-box;
    border: none;
    overflow: scroll;
    overflow-x: none;
    width: 100%;
    height: 360px;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.jaune {
    background-image: url(../../../../src/assets/images/pionWoodclair.png);
    background-size: cover;
}

.rouge {
    background-image: url(../../../../src/assets/images/pionWooddark.png);
    background-size: cover;
}