ul {
    float: left;
    clear: right;
    padding: 0;
}

li {
    list-style: none;
    float: left;
    clear: left;
    width: 70px;
    height: 70px;
    color: #000000;
    text-align: center;
}

.boutons {
    position: relative;
    text-align: center;
}

.btnbox {
    position: absolute;
    z-index: 999;
    display: inline;
    transform: translateX(-50%);
}


/* CSS DU MODULE JEU */

.gameBox {
    width: 490px;
    height: 575px;
    margin-left: auto;
    margin-right: auto;
}


/* DECO DE FOND */

.Fondgrille {
    position: absolute;
    z-index: 10;
    top: 100px;
    width: 490px;
    height: 420px;
    background-size: cover;
}

.ombreGrille {
    position: absolute;
    z-index: 9;
    background-size: cover;
}


/* GRILLE DE JEU */

.grille {
    position: absolute;
    z-index: 20;
    top: 30px;
    display: table-row-group;
    vertical-align: middle;
}


/* DECO DE LA GRILLE */

.Decogrille {
    position: absolute;
    z-index: 30;
    top: 100px;
    width: 490px;
    height: 420px;
    background-image: url(../../../../src/assets/images/grilleReal2.png);
    background-size: cover;
}

.cadre {
    position: absolute;
    z-index: 25;
    background-size: cover;
}

.Topgrille {
    position: absolute;
    z-index: 32;
    top: 10px;
    max-width: 490px;
    max-height: 510px;
    width: 70vw;
    height: 70vw;
}

.anticlick {
    position: absolute;
    z-index: 100;
    top: 0px;
    max-width: 490px;
    max-height: 520px;
    width: 70vw;
    height: 70vw;
}

.winner {
    position: absolute;
    z-index: 30;
    top: 30px;
    max-width: 490px;
    max-height: 510px;
    width: 70vw;
    height: 70vw;
}

@media (max-width:700px) {
    .classic li {
        width: 50px;
        height: 50px;
    }
    .classic .gameBox {
        width: 350px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .classic .grille {
        top: 20px;
    }
    .classic .Fondgrille {
        top: 70px;
        width: 350px;
        height: 300px;
    }
    .classic .Decogrille {
        top: 70px;
        width: 350px;
        height: 300px;
    }
    .classic .Topgrille {
        top: 0px;
        width: 350px;
        height: 370px;
    }
    .classic .winner {
        top: 20px;
        width: 350px;
        height: 370px;
    }
    .classic .anticlick {
        top: 0;
        width: 350px;
        height: 370px;
    }
}

@media (max-width:425px) {
    .classic .classic li {
        width: 30px;
        height: 30px;
    }
    .classic .gameBox {
        width: 210px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .classic .grille {
        top: 10px;
    }
    .classic .Fondgrille {
        top: 40px;
        width: 210px;
        height: 180px;
    }
    .classic .Decogrille {
        top: 40px;
        width: 210px;
        height: 180px;
    }
    .classic .Topgrille {
        top: 0px;
        width: 210px;
        height: 220px;
    }
    .classic .winner {
        top: 10px;
        width: 210px;
        height: 220px;
    }
    .classic .anticlick {
        top: 0;
        width: 210px;
        height: 220px;
    }
}


/* COULEURS DES PIONS */

.jaune {
    background-size: cover;
}

.rouge {
    background-size: cover;
}

.winPoint {
    background-size: cover;
}

.ghost .ghostjaune .ghostrouge {
    background: none;
}

ul:hover .ghostrouge {
    background-size: cover;
}

.classic ul:hover .ghostjaune {
    background-size: cover;
}