<div [ngClass]="gameService.theme">
    <div class="boutons" *ngIf="this.divReset == true">
        <div class="btnbox">
            voulez-vous rejouer ?
            <button class="btn btnReset" (click)="newGame()">OUI</button>
            <button class="btn btnReset" (click)="quit()">NON</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="gameBox">
            <div class="TV" *ngIf="gameService.theme == 'simpson'">
            </div>
            <div class="ombreGrille">
            </div>
            <div class="Fondgrille">
            </div>
            <div class="grille">
                <ul id={{x}} *ngFor="let i of grille; let x = index" (click)="clickedColumn(x)">
                    <li class="vide"></li>
                    <li class="{{j}}" *ngFor="let j of i">
                    </li>
                </ul>
            </div>
            <div class="Decogrille">
            </div>
            <div class="cadre">
            </div>
            <div class="Topgrille">
                <ul id={{x}} *ngFor="let i of grille; let x = index" (click)="clickedColumn(x)">
                    <li class="ghost{{couleurJoueur}}"></li>
                    <li class="vide" *ngFor="let j of i"></li>
                </ul>
            </div>
            <div class="winner">
                <ul id={{x}} *ngFor="let i of winnerAlign; let x = index" (click)="clickedColumn(x)">
                    <li class="ghost{{couleurJoueur}}"></li>
                    <li class="{{j}}" *ngFor="let j of i"></li>
                </ul>
            </div>
            <div class="anticlick" *ngIf="this.anticlick == true">
            </div>
            <div class="anticlick" *ngIf="couleurJoueur != joueurEnCours">
            </div>
        </div>

    </div>
</div>