/* DECO DE FOND */

.classic .Fondgrille {
    background-image: url(../../../../src/assets/images/fond.png);
}

.classic .ombreGrille {
    top: 511px;
    width: 950px;
    height: 212px;
    background-image: url(../../../../src/assets/images/ombreGrilleReal.png);
    transform: translateX(-327px);
}


/* DECO DE LA GRILLE */

.classic .Decogrille {
    background-image: url(../../../../src/assets/images/grilleReal2.png);
}

.classic .cadre {
    top: 83px;
    width: 678px;
    height: 631px;
    background-image: url(../../../../src/assets/images/cadreReal.png);
    transform: translateX(-94px);
}

@media (max-width:700px) {
    .classic .ombreGrille {
        top: 361px;
        width: 670px;
        height: 152px;
        transform: translateX(-247px);
    }

    .classic .cadre {
        top: 58px;
        width: 485px;
        height: 451px;
        transform: translateX(-68px);
    }
}

@media (max-width:425px) {
    .classic .ombreGrille {
        top: 197px;
        width: 452px;
        height: 112px;
        transform: translateX(-200px);
    }
    .classic .cadre {
        top: 34px;
        width: 287px;
        height: 267px;
        transform: translateX(-39px);
    }
}


/* COULEURS DES PIONS */

.classic .jaune {
    background-image: url(../../../../src/assets/images/pionJaune.png);
}

.classic .rouge {
    background-image: url(../../../../src/assets/images/pionRouge.png);
}

.classic .winPoint {
    background-image: url(../../../../src/assets/images/winPoint.png);
}

.classic ul:hover .ghostrouge {
    background-image: url(../../../../src/assets/images/pionRouge.png);
}

.classic ul:hover .ghostjaune {
    background-image: url(../../../../src/assets/images/pionJaune.png);
}