input#message {
    /background:#fff;
    border:none;
    outline:none;
    box-shadow:none;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 3em;
    padding:1.2em .7em;
}


#details-container p {
    text-align: left;
    background:#fff;
    padding:1.4em;
    color:#696969;
    margin: 12px;
    width:90%;
    min-width:200px;
}

img {
    max-width: 5%;
    margin-right:15px;
}