input#message {
    background: #fff;
    padding: 1.2em .7em;
}

#chat-container p {
    text-align: left;
    background: #fff;
    padding: 1.2em .7em;
    width: 100%;    
    color: #696969;
}
#chat-container{
    box-sizing: content-box;
    border: none;
    overflow-x: none;
    width: 100%;
    height: 300px;
}

img {
    max-width: 5%;
    margin-right: 15px;
}