p {
    font-family: 'Love Ya Like A Sister', cursive;
    color: wheat;
}
.roomGame {
    text-align: center;
}

.roomChat {
    z-index: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 29px;
    transform: translateY(90px);
    height: 444px;
    border-radius: 15px;
}

.roomBG {
    font-family: 'Love Ya Like A Sister', cursive;
    color: wheat;
    height: 300vh;
    background-image: url(../../../assets/images/BG2.png);
    background-size: cover;
}

.planche {
    position: absolute;
    z-index: 0;
    top: 584px;
    width: 100vw;
    height: 155px;
    background-image: url(../../../../src/assets/images/planche.png);
    background-size: cover;
    overflow: none;
}

@media (max-width:700px) {
    .planche {
        top: 450px;
        height: 115px;
    }
}

@media (max-width:425px) {
    .planche {
        top: 312px;
        height: 87px;
    }
}