<p>c'est au tour de {{joueurEnCours}}</p>
<p *ngIf="couleurJoueur == joueurEnCours">C'est à vous de jouer</p>
<p *ngIf="couleurJoueur != joueurEnCours">Ce n'est pas votre tour</p>
<div class="container-fluid game">
    <div class="grille">
        <ul id={{x}} *ngFor="let i of grille; let x = index" (click)="clickedColumn(x)">
            <li class="ghost{{couleurJoueur}}"></li>
            <li class="{{j}}" *ngFor="let j of i">
            </li>
        </ul>
    </div>
    <div class="Topgrille">
        <ul id={{x}} *ngFor="let i of grille; let x = index" (click)="clickedColumn(x)">
            <li class="ghost{{couleurJoueur}}"></li>
            <li class="vide" *ngFor="let j of i"></li>
        </ul>
    </div>

    <div class="winner">
        <ul id={{x}} *ngFor="let i of winnerAlign; let x = index" (click)="clickedColumn(x)">
            <li class="ghost{{couleurJoueur}}"></li>
            <li class="{{j}}" *ngFor="let j of i"></li>
        </ul>
    </div>
    <div class="anticlick" *ngIf="couleurJoueur != joueurEnCours">
    </div>

</div>