ul {
    float: left;
    clear: right;
    padding: 0;
}

li {
    list-style: none;
    float: left;
    clear: left;
    max-width: 70px;
    width: 10vw;
    height: 10vw;
    max-height: 70px;
    color: #000000;
    text-align: center;
}


/*.vide {
    background-image: url(../../../src/assets/images/caseVide.png);
    background-size: cover;
}*/

.jaune {
    background-image: url(../../../src/assets/images/pionJaune.png);
    background-size: cover;
}

.rouge {
    background-image: url(../../../src/assets/images/pionRouge.png);
    background-size: cover;
}

.winPoint {
    background-image: url(../../../src/assets/images/winPoint.png);
    background-size: cover;
}

.ghost .ghostjaune .ghostrouge {
    background: none;
    height: px;
}

ul:hover .ghostrouge {
    background-image: url(../../../src/assets/images/pionRouge.png);
    background-size: cover;
}

ul:hover .ghostjaune {
    background-image: url(../../../src/assets/images/pionJaune.png);
    background-size: cover;
}


/* CSS DU MODULE JEU */

.game {
    position: relative;
    text-align: center;
    width: 80vw;
    height: 80vw;
    max-width: 560px;
    max-height: 560px;
}


/* DECO DE FOND */

.Fondgrille {
    position: absolute;
    z-index: 10;
    top: 100px;
    width: 490px;
    height: 420px;
    background-image: url(../../../src/assets/images/fond.png);
    background-size: cover;
}


/* GRILLE DE JEU */

.grille {
    position: absolute;
    z-index: 20;
    top: 30px;
    display: table-row-group;
    vertical-align: middle;
}


/* DECO DE LA GRILLE */

.Decogrille {
    position: absolute;
    z-index: 30;
    top: 100px;
    width: 490px;
    height: 420px;
    background-image: url(../../../src/assets/images/grille.png);
    background-size: cover;
}

.cadre {
    position: absolute;
    z-index: 25;
    top: 78px;
    left: -8px;
    width: 535px;
    height: 465px;
    background-image: url(../../../src/assets/images/cadre.png);
    background-size: cover;
}

.Topgrille {
    position: absolute;
    z-index: 22;
    top: 30px;
}

.anticlick {
    position: absolute;
    z-index: 999;
    top: 30px;
    max-width: 490px;
    max-height: 490px;
    width: 70vw;
    height: 70vw;
}

.winner {
    position: absolute;
    z-index: 30;
    top: 10px;
    max-width: 490px;
    max-height: 490px;
    width: 70vw;
    height: 70vw;
}

/* DECOR DE FOND */
.planche{
    position: absolute;
    z-index: 10;
    top: 450px;
    left: -440px;
    width: 272%;
    height: 295px;
    background-image: url(../../../src/assets/images/planche.png);
    background-size: cover;
}