ul {
    float: left;
    clear: right;
    padding: 0;
}

li {
    list-style: none;
    float: left;
    clear: left;
    max-width: 70px;
    width: 10vw;
    height: 10vw;
    max-height: 70px;
    color: #000000;
    text-align: center;
}

.vide {
    background-image: url(../../../src/assets/images/caseVide.png);
    background-size: cover;
}

.jaune {
    background-image: url(../../../src/assets/images/pionJaune.png);
    background-size: cover;
}

.rouge {
    background-image: url(../../../src/assets/images/pionRouge.png);
    background-size: cover;
}

.ghost .ghostjaune .ghostrouge {
    background: none;
}

ul:hover .ghostrouge {
    background-image: url(../../../src/assets/images/pionRouge.png);
    background-size: cover;
}

ul:hover .ghostjaune {
    background-image: url(../../../src/assets/images/pionJaune.png);
    background-size: cover;
}

grille {
    display: table-row-group;
    vertical-align: middle;
}
.game{
    position: relative;
    text-align: center;
    width:80vw;
    height: 80vw;
    max-width:560px;
    max-height:560px;
}
.Topgrille{
    position: absolute;
    top: 0px;
   /* width:490px;
    height: 420px;*/
 /*   background-image: url(../../../src/assets/images/caseVide.png);
    background-size: 70px;
    background-repeat: repeat; */
}
.anticlick{
    position: absolute;
    top: 0px;
   max-width:490px;
    max-height: 490px;
    width: 70vw;
    height: 70vw;
}