h1 {
    color: #212930;
    font-weight: bold;
    padding: 40px 0;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 55px;
}

img {
    position: absolute;
    top: -140px;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    width: 550px;
}

.connect {
    background: url("../../assets/images/bgLoggin.jpg")no-repeat 0 0;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
}

.blocConnect {
    height: 450px;
    width: 525px;
    transform: translateY(35%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 700px) {
    .blocConnect {
        height: 400px;
        width: 466px;
        transform: translateY(45%);
    }
    img {
        width: 487px;
    }
    h1 {
        padding: 40px 0;
        font-size: 55px;
    }
}

@media (max-width: 450px) {
    h1 {
        padding: 20px 0 20px 0;
    }
    .connect {
        background: url("../../assets/images/bgLoggin.jpg")no-repeat -399px -130px;
        background-size: 490%;
    }
    .blocConnect {
        height: 50%;
        width: 100%;
        transform: translateY(45%);
    }
    img {
        width: 97vw;
        top: -90px;
    }
}