p {
    font-family: 'Love Ya Like A Sister', cursive;
    color: wheat;
}

.roomGame {
    text-align: center;
}

.roomChat {
    z-index: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 29px;
    transform: translateY(90px);
    height: 444px;
    border-radius: 15px;
}

.roomBG {
    height: 300vh;
    background-image: url(../../../assets/images/BGwood.jpg);
    background-size: 100%;
}

.planche {
    position: absolute;
    z-index: 0;
    top: 662px;
    width: 100vw;
    height: 173px;
    background-image: url(../../../../src/assets/images/planche.png);
    background-size: cover;
    overflow: none;
}

@media (max-width:700px) {
    .planche {
        top: 500px;
        height: 115px;
    }
}

@media (max-width:425px) {
    .planche {
        top: 312px;
        height: 87px;
    }
}