input#message {
    background: rgba(255, 255, 255, 0.644);
    padding: .4em .7em;
    width: 100%;
}

#chat-container p {
    text-align: left;
    background: #fff;
    padding: 1.2em .7em;
    width: 100%;
    color: #696969;
    border-radius: 20px;
}

#chat-container {
    box-sizing: content-box;
    border: none;
    overflow: scroll;
    overflow-x: none;
    width: 100%;
    height: 300px;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.jaune {
    background-image: url(../../../../src/assets/images/pionJaune.png);
    background-size: cover;
}

.rouge {
    background-image: url(../../../../src/assets/images/pionRouge.png);
    background-size: cover;
}