    ul {
        float: left;
        clear: right;
        padding: 0;
    }
    
    li {
        list-style: none;
        float: left;
        clear: left;
        width: 70px;
        height: 70px;
        color: #000000;
        text-align: center;
    }
    
    .boutons {
        position: relative;
        text-align: center;
    }
    
    .btnbox {
        position: absolute;
        z-index: 999;
        display: inline;
        transform: translateX(-50%);
    }
    /* CSS DU MODULE JEU */
    
    .gameBox {
        width: 490px;
        height: 575px;
        margin-left: auto;
        margin-right: auto;
    }
    /* DECO DE FOND */
    
    .Fondgrille {
        position: absolute;
        z-index: 10;
        top: 100px;
        width: 490px;
        height: 420px;
        background-image: url(../../../../src/assets/images/fondNB.png);
        background-size: cover;
    }
    .ombreGrille{
        position: absolute;
        z-index: 9;
        top: 100px;
        width: 490px;
        height: 420px;
        background-image: url(../../../../src/assets/images/ombreGrille.png);
        background-size: cover;
    }
    /* GRILLE DE JEU */
    
    .grille {
        position: absolute;
        z-index: 20;
        top: 30px;
        display: table-row-group;
        vertical-align: middle;
    }
    /* DECO DE LA GRILLE */
    
    .Decogrille {
        position: absolute;
        z-index: 30;
        top: 100px;
        width: 490px;
        height: 420px;
        background-image: url(../../../../src/assets/images/grilleWood.png);
        background-size: cover;
    }
    
    .cadre {
        position: absolute;
        z-index: 25;
        top: 78px;
        width: 535px;
        height: 465px;
        background-image: url(../../../../src/assets/images/cadreWood.png);
        background-size: cover;
        transform: translateX(-25px);
    }
    
    .Topgrille {
        position: absolute;
        z-index: 32;
        top: 10px;
        max-width: 490px;
        max-height: 510px;
        width: 70vw;
        height: 70vw;
    }
    
    .anticlick {
        position: absolute;
        z-index: 100;
        top: 0px;
        max-width: 490px;
        max-height: 520px;
        width: 70vw;
        height: 70vw;
    }
    
    .winner {
        position: absolute;
        z-index: 30;
        top: 30px;
        max-width: 490px;
        max-height: 510px;
        width: 70vw;
        height: 70vw;
    }

    
    @media (max-width:700px) {
        li {
            width: 50px;
            height: 50px;
        }
        .gameBox {
            width: 350px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        .grille {
            top: 20px;
        }
        .Fondgrille {
            top: 70px;
            width: 350px;
            height: 300px;
        }
        .ombreGrille {
            top: 70px;
            width: 350px;
            height: 300px;
        }
        .Decogrille {
            top: 70px;
            width: 350px;
            height: 300px;
        }
        .cadre {
            top: 50px;
            width: 387px;
            height: 336px;
            transform: translateX(-18px);
        }
        .Topgrille {
            top: 0px;
            width: 350px;
            height: 370px;
        }
        .winner {
            top: 20px;
            width: 350px;
            height: 370px;
        }
        .anticlick {
            top: 0;
            width: 350px;
            height: 370px;
        }
    }
    
    @media (max-width:425px) {
        li {
            width: 30px;
            height: 30px;
        }
        .gameBox {
            width: 210px;
            height: 250px;
            margin-left: auto;
            margin-right: auto;
        }
        .grille {
            top: 10px;
        }
        .Fondgrille {
            top: 40px;
            width: 210px;
            height: 180px;
        }
        .ombreGrille {
            top: 40px;
            width: 210px;
            height: 180px;
        }
        .Decogrille {
            top: 40px;
            width: 210px;
            height: 180px;
        }
        .cadre {
            top: 30px;
            width: 230px;
            height: 200px;
            transform: translateX(-9px);
        }
        .Topgrille {
            top: 0px;
            width: 210px;
            height: 220px;
        }
        .winner {
            top: 10px;
            width: 210px;
            height: 220px;
        }
        .anticlick {
            top: 0;
            width: 210px;
            height: 220px;
        }
    }
    /* COULEURS DES PIONS */
    
    .jaune {
        background-image: url(../../../../src/assets/images/pionWoodclair.png);
        background-size: cover;
    }
    
    .rouge {
        background-image: url(../../../../src/assets/images/pionWooddark.png);
        background-size: cover;
    }
    
    .winPoint {
        background-image: url(../../../../src/assets/images/winPoint.png);
        background-size: cover;
    }
    
    .ghost .ghostjaune .ghostrouge {
        background: none;
        height: px;
    }
    
    ul:hover .ghostrouge {
        background-image: url(../../../../src/assets/images/pionWooddark.png);
        background-size: cover;
    }
    
    ul:hover .ghostjaune {
        background-image: url(../../../../src/assets/images/pionWoodclair.png);
        background-size: cover;
    }