<div [ngClass]="gameService.theme">
    <div class="roomBG">

        <!--p>Puissance 4</p>
    <p>room n°{{indexRoom}}</p-->

        <br>
        <br>
        <br>
        <p>Welcome {{pseudo}}</p>
        <p *ngIf="couleurJoueur == joueurEnCours">C'est à vous de jouer</p>
        <p *ngIf="couleurJoueur != joueurEnCours">Ce n'est pas votre tour</p>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="col-md-8 roomGame">
                    <app-game></app-game>
                </div>
                <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3 roomChat">
                    <zone-chat></zone-chat>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="planche">
        </div>
    </div>
</div>