.roomBG {
    height: 100vh;
    overflow: hidden
}

.roomGame {
    text-align: center;
}

.roomChat {
    z-index: 100;
    text-align: center;
}

.planche {
    position: absolute;
    z-index: 0;
    background-size: cover;
    overflow: none;
}

.btn-logout {
    position: absolute;
    top: 50px;
    Left: 50px;
    background-color: #212930;
    color: #fff;
    opacity: 1;
}

.btn-quit {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #212930;
    color: #fff;
    opacity: 1;
}
@media (max-width:700px) {
    .btn-logout {
        top: 20px;
        left: 20px;
    }
    .btn-quit {
        top: 20px;
        right: 20px;
    }
}
@media (max-width:425px) {
    .btn-logout {
        top: 20px;
        left: 20px;
    }
    .btn-quit {
        top: 20px;
        right: 20px;
    }
}