.wood input#message {
    background: rgba(255, 255, 255, 0.644);
    padding: .4em .7em;
    width: 100%;
}

.wood #chat-container p {
    text-align: left;
    width: 100%;
    color: #ffffff;
}

.wood .jaune {
    background-image: url(../../../../src/assets/images/wood/pionWoodclair.png);
}

.wood .rouge {
    background-image: url(../../../../src/assets/images/wood/pionWooddark.png);
}